@page "{stireId:int}"
@model Lab3.Pages.StireModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<h2>@Model.Stire.Titlu</h2>
<p><em>@Model.Stire.Lead</em></p>
<p>@Model.Stire.Continut</p>
<p class="text-muted">
    Adăugat de <strong>@Model.Stire.Autor</strong> la
    <strong>@Model.Stire.Data.ToString("dd.MM.yyyy")</strong> în categoria
    <strong>@Model.Stire.Categorie?.Nume</strong>.
    <p><a asp-page="/Index">Înapoi</a></p>
</p>